/* whole */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Lora', serif;
}

/* nav bar */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
    padding: 0.75em 0;
    font-weight: 500;
}

.menu-icon{
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li{
    padding-left: 1.5em;
}

/* head banner */
.banner_containter{
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.07em;
    padding: 0 10vw;
    background-color: rgb(170, 205, 214);
}

/* photo gallery */
.gallery{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 1200px;
    margin: 40px auto; 
}

.box{
    width: 23.5%;
    margin-bottom: 25px;
}

.pic_container{
    height: 170px;
    overflow: hidden;
}

.box img{
    width: 100%;
}

.pic_caption{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 205, 214);
    padding: 0.75em;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}


/************** media qurey  ****************/

/* for pad (600-1200px) */

@media screen and (max-width: 1200px) {
    
    .gallery{
        width: 90%;
    }

    .box{
        width: 48%;
    }

    .pic_container{
        height: 26vw;
    }

}

@media screen and (max-width: 600px) {

    nav{
        padding: 0.5em 0;    
    }

    nav ul{
        display: none;
    }

    .menu-icon{
        display: block;
        width: 30px;
        height: auto;
    }

    .menu-icon img{
        width: 100%;
    }

    .box{
        width: 100%;
    }

    .pic_container{
        height: 54vw;
    }

}