/* whole */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Lora', serif;
}

/* nav bar */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
    padding: 0.75em 0;
    font-weight: 500;
}

.menu-icon{
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li{
    padding-left: 1.5em;
}

/* head banner */
.banner_containter{
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.07em;
    padding: 0 10vw;
    background-color: rgb(170, 205, 214);
}

/* photo gallery */
.gallery{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 1200px;
    margin: 40px auto; 
}

.box{
    width: 23.5%;
    margin-bottom: 25px;
}

.pic_container{
    height: 170px;
    background-size: cover;
    background-position: center;
}

.box img{
    width: 100%;
}

.pic_caption{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 205, 214);
    padding: 0.75em;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.pic1{
    background-image: url("https://images.unsplash.com/photo-1596124592366-8d78fdfd2aa8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
}

.pic2{
    background-image: url("https://images.unsplash.com/photo-1550684848-86a5d8727436?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80");
}

.pic3{
    background-image: url("https://images.unsplash.com/photo-1586032788085-d75f745f26e0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1643&q=80");
}

.pic4{
    background-image: url("https://images.unsplash.com/photo-1554188248-986adbb73be4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
}

.pic5{
    background-image: url("https://images.unsplash.com/photo-1574281147884-113f7431528e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80");
}

.pic6{
    background-image: url("https://images.unsplash.com/photo-1541661538396-53ba2d051eed?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=582&q=80");
}

.pic7{
    background-image: url("https://images.unsplash.com/photo-1486025402772-bc179c8dfb0e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80");
}

.pic8{
    background-image: url("https://images.unsplash.com/photo-1523127914958-b8e150c4463f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1651&q=80");
}



/************** media qurey  ****************/

/* for pad (600-1200px) */

@media screen and (max-width: 1200px) {
    
    .gallery{
        width: 90%;
    }

    .box{
        width: 48%;
    }

    .pic_container{
        height: 26vw;
    }

}

@media screen and (max-width: 600px) {

    nav{
        padding: 0.5em 0;    
    }

    nav ul{
        display: none;
    }

    .menu-show{
        position: absolute;
        top: 55px;
        right:0;
        width:100%;
        margin:0;
        padding:35px 0;
        display: flex;
        flex-flow : column nowrap;
        align-items: flex-end;
        background-color: rgba(255, 255, 255, 0.93);
    }

    .menu-show li{
        margin-right: 40px;
        text-align:left;
        margin-bottom: 1em;
    }

    .menu-icon{
        display: block;
        width: 30px;
        height: auto;
    }

    .menu-icon img{
        width: 100%;
    }

    .box{
        width: 100%;
    }

    .pic_container{
        height: 54vw;
    }

}